body{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
/*Cabecera de la web*/
header{
    background-color: rgb(248, 248, 248);
    background-color: #e6e6e6;
    height: 80px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 80px;
    justify-content: space-evenly;
}
nav li{
    height: 80px;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 500;
}
nav li:hover{
    cursor: pointer;
    font-weight: bold;
    background-color: #dddddd;
    background-color: #d1d1d1;
    text-decoration: underline;
}
/*Style Crear Producto*/
form{
    width: 92vw;
    margin-top: 40px;
    margin: 0 auto;
    margin-top:40px;
}
fieldset{
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
legend{
    margin-bottom: 20px;
    padding: 0px 20px;
    font-size: 28px;
    font-weight: 700;
    color: rgb(28, 28, 28);
}
label{
    display: block;
    margin-bottom: 25px;
    font-size: 24px;
    text-decoration-line: underline;
    font-weight: bold;
}

.datos{
    font-weight: normal;
    text-decoration: none;
}
input{
    width: 325px;
    height: 25px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}
input[type="submit"]{
    width: 100px;
    height: 25px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}
#campo_categoria{
    width: 150px;
    height: 25px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}
/*Style Consultar Producto*/
table{
    display: flex;
    text-align: center;
    justify-content: center;
    border-spacing: 40px;
}
tbody{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(218, 218, 218);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
}
th{
    text-decoration: underline;
    font-size: 26px;
}
td{
    border-bottom: 2px solid #e4e4e4;
    font-size: 20px;
    justify-content: end;
    align-items: center;
    vertical-align: bottom;
}

.cnc{
    width: 100px;
    height: 25px;
}